# Deploy Website Theme
# This workflow handles building and deploying the website theme

name: Deploy Website Theme 

on:
  push: 
    branches:
      - main

# Environment variables for reuse  
env:
  SERVER: root@myhs.mooo.com
  REMOTE_DIR: /var/www/html/wordpress/public_html/wp-content/themes/mytheme

jobs:

  # Build job
 build:  
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      # Check out repository code
      uses: actions/checkout@v3

    - name: Install Composer dependencies
      # This will run `composer install`
      # since that's its default command
      uses: php-actions/composer@v6

    - name: Install Node.js LTS
      # We use the LTS version of Node.js
      # and cache packages installed via yarn
      uses: actions/setup-node@v3
      with:
        node-version: 'lts/*'
        cache: 'yarn'

    - name: Install Node.js dependencies
      run: yarn install

    - name: Build theme
      # Run the `build` script for production,
      # and the `staging` script for staging
      run: |
        if [[ "${{ github.base_ref }}" == "main" || "${{ github.ref }}" == "refs/heads/main" ]]; then
          yarn run build
        else
          yarn run staging
        fi
  # Deploy job  
 deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    
    - name: Checkout code
      # Check out repository code
      uses: actions/checkout@v3

    - name: Deploy to server
      # Deploy built assets to server over SSH
      env:
        SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      run: |
        ssh-agent -a $SSH_AUTH_SOCK > /dev/null
        ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"
        
        rsync -ravz -e "ssh -o StrictHostKeyChecking=no" ./ ${{ env.SERVER }}:${{ env.REMOTE_DIR }} \
        --exclude /.git/ \
        --exclude /.github/ \
        --exclude /helper_scripts
